<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poke-Api</title>

    <!-- Linking external CSS files for styling -->
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <header>
        <!-- Form to search for a Pokémon by name or Pokédex number -->
        <form action="/pokemon" method="post">
            <div class="input-area">
                <!-- Poké Ball icon -->
                <img src="assets/icon/poke-ball.svg" alt="">
                <input type="text" name="pokemon" id="pokemon" placeholder="Enter the Pokemon's name or pokedex number">
            </div>
        </form>
    </header>

    <main class="main-container">
        <!-- Pokémon card container -->
        <div class="pokemon-card" id="pokemon-card">
            <% if(locals.pokemon){ %>
                <div class="pokemon-informations">
                    <!-- Display Pokémon ID and name in uppercase -->
                    <h1 class="name">#<%= pokemon.id %> - <%= pokemon.name.toUpperCase() %></h1>
                
                    <hr>
                
                    <!-- Display Pokémon types -->
                    <h3>Type:</h3>
                    <p id="poke-type"> 
                        <% pokemon.types.forEach(type => { %>
                            <span class="type-badge <%= type.type.name %>"> <%= type.type.name.toUpperCase() %></span>
                        <% }); %>
                    </p>
                    
                    <hr>

                    <!-- Pokémon image -->
                    <div class="pokemon-img">
                        <img src="<%= image %>" alt="">
                    </div>

                    <hr>

                    <!-- Display Pokémon height and weight, converted to meters and kilograms -->
                    <p><strong>Height:</strong> <%= pokemon.height / 10 %> m</p>
                    <p><strong>Weight:</strong> <%= pokemon.weight / 10 %> kg</p>

                    <hr>
                
                    <!-- Display Pokémon base stats -->
                    <h3>Base Stats:</h3>
                    <ul class="stats">
                        <% pokemon.stats.forEach(stat => { %>
                            <li><strong><%= stat.stat.name.toUpperCase() %>:</strong> <%= stat.base_stat %></li>
                        <% }); %>
                    </ul>

                    <hr>
                
                    <!-- Display Pokémon abilities -->
                    <h3>Abilities:</h3>
                    <ul class="abilities">
                        <% pokemon.abilities.forEach(ability => { %>
                            <li><%= ability.ability.name.replace('-', ' ').toUpperCase() %></li>
                        <% }); %>
                    </ul>
                </div>
            <% } else { %>
                <!-- Display error message if Pokémon is not found -->
                <h1><%= message %></h1>
            <% } %>
        </div>
    </main>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- External JavaScript file -->
    <script src="script/script.js"></script>
</body>
</html>
